header{
  height:523px;
  background:linear-gradient(
        rgba(16,109, 179, 0.9),
        rgba(16,109, 179, 0.9)
      ),
      url(images/Water-Landscape-Wallpaper-Background.png);
}
body{
  padding:0;
  margin:0;
}
.nav{
  font-family: open sans;
  color: rgb(8, 52, 81);
  float:right;
  line-height: 12px;
  margin-right: 165px;
  margin-top: 22px;
  margin-bottom: 0px;

}
.logo{
  font-family: open sans;
  display:inline-block;
  line-height: 12px;
  position:relative;
  bottom:12.2px;

}
.nav li{
  float:left;
  list-style: none;
  margin-right:15px;

}
header > img{
  margin-left: 141px;
  margin-top: 10px;
  height: 41px;
  width: 41px;
}
li > img{
  height:26px;
  width:25px;
  position:relative;
  bottom:5px;
}
#search{
  margin-right: 3px;
}
#magglass{
  margin-right:0px;
}
.pagetitle{
    font-size: 96px;
    font-family: Opensans;
    font-weight: normal;
    margin-bottom:0;
    text-align: center;
    line-height: 80px;
    margin-top:166px;
    color:white;

}
.titlecaption{
font-family:open sans;
font-size:14px;
text-align: center;
margin:0;
color: rgb(8, 52, 81);

}
