
body {
  font-family: 'Open Sans', helvetica, sans-serif;
  color: rgba(17, 52, 79, 1);
}

header {
  background: url('https://images.unsplash.com/photo-1452723312111-3a7d0db0e024?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=774e99d16e3f3f0e4138be9d98e4f0f9') center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 523px;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
}

/* Position these to bring them above overlay */
nav, h1, h4 {
  position: relative;
}

nav {
  max-width: 1018px;
  margin: 0 auto;

  padding-right: 02.7504912%;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

.logo-container {
  float: left;
  margin-top: 6px;
  margin-left: 14px;
}

.logo-container h2 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 0 2px;
  letter-spacing: .2px;
  position: relative;
  top: -1px;
}

.logo-container h2 > span {
  position: relative;
  left: -2px;
  letter-spacing: 0;
}

.logo-container h2 > span > span {
  letter-spacing: -0.7px;
}

.logo-container img,
.logo-container h2 {
  vertical-align: middle;
}

.header-links {
  float: right;
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}

.header-links li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 11px;
  text-transform: uppercase;
  font-size: 15px;
}

.header-links li:first-child {
  position: relative;
  top: -1px;
}

.header-links li span {
  display: inline-block;
  transform: scaleY(1.5);
  font-weight: bold;
  letter-spacing: -0.5px;
}

.header-links li span,
.header-links li img {
  vertical-align: middle;
}

.header-links li img {
  margin-left: 4px;
  position: relative;
  top: 1px;
  right: 3px;
}

header h1,
header h4 {
  text-align: center;
}

header h1 {
  color: white;
  text-shadow: 0 2px 4px rgba(17, 52, 79, 1);
  text-transform: uppercase;
  margin: 150px 0 0 0;

  font-size: 104px;
  line-height: 104px;
  font-weight: 400;
  letter-spacing: -3px;
}

header h4 {
  font-weight: 400;
  margin: 0;
  font-size: 15px;
  letter-spacing: -1px;
}
/*Main Body*/
.leftcolumn{
  display:inline-block;
  width: 48%;
  margin-left:12.8125%;
}
.rightcolumn{
  display:inline-block;
  width:21.72%;
  vertical-align: top;
  margin-left:6.40625%;
}
.leftcolumn ul{
  list-style: none;
}
.leftcolumn li{
  display:inline-block;
}
.rightcolumn ul{
  list-style: none;
}
.rightcolumn li{
  display:inline-block;
}
.leftcolumn h1{
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -2px;
  font-stretch:ultra-condensed;
  line-height: 50px;
  margin-top: 64px;
}
.social{
  margin-top: 83px;
}
.social img{
  border-radius:50px;
  display:block;
  margin:auto;
}
.social span{
  text-align: center;
  display:block;
}
/*
Popular posts Section
*/
#bottom{
  text-align: center;
  text-transform: uppercase;
}
.posts{
  height:330px;
}
.posts ul{
  list-style: none;
  margin:0;
  padding:0;
}
.posts li{
  position:relative;
  display:inline-block;
  width:25%;
  height:330px;
}
.posts span{
  position: absolute;
  top:200px;
}
.posts li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
}
#post1{
  background: url(images/nature-q-c-507-342-10.jpg) center center;
  -webkit-background-size: cover;
  background-size: cover;
}
#post2{
  background: url(images/nature-h-c-336-342-10.jpg) center center;
  -webkit-background-size: cover;
  background-size: cover;
}
#post3{
  background: url(images/nature-q-c-507-342-5.jpg) center center;
  -webkit-background-size: cover;
  background-size: cover;
}
#post4{
  background: url(images/food-h-c-336-342-9.jpg) center center;
  -webkit-background-size: cover;
  background-size: cover;
}
/*
Footer
*/
footer{
  height:97px;
  background-color:rgba(17, 52, 79, 1);
  color:rgba(163, 179, 191, 1);
}

footer ul{
  list-style:none;
  float:right;
}
footer li{
font-size:12px;
display:inline-block;
width:75px;
text-align:center;
border-left: solid 1px rgba(163, 179, 191, 1);
}
footer li:first-child{
  border-left: solid 1px rgba(17, 52, 79, 1);
}
